{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Simple Responsive Admin</title>
        <!-- BOOTSTRAP STYLES-->
        <link
            href="../../static/chat/assets/css/custom.css"
            rel="stylesheet"
        />
        <!-- FONTAWESOME STYLES-->
        <link
            href="../../static/chat/assets/css//font-awesome.css"
            rel="stylesheet"
        />
        <!-- CUSTOM STYLES-->
        <link
            href="../../static/chat/assets/css/bootstrap.css"
            rel="stylesheet"
        />
        <!-- GOOGLE FONTS-->
        <link
            href="http://fonts.googleapis.com/css?family=Open+Sans"
            rel="stylesheet"
            type="text/css"
        />
    </head>
    <body>
        <div id="wrapper">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="adjust-nav">
                    <div class="navbar-header">
                        <button
                            type="button"
                            class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".sidebar-collapse"
                        >
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img
                                src="../../static/chat/assets/img/logo.png"
                            />
                        </a>
                    </div>

                    <span class="logout-spn">
                        <a href="#" style="color: #fff">LOGOUT</a>
                    </span>
                </div>
            </div>
            <!-- /. NAV TOP  -->
            <nav class="navbar-default navbar-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="main-menu">
                        <li class="active-link">
                            <a href="index.html"
                                ><i class="fa fa-desktop"></i>Dashboard
                                <span class="badge">Included</span></a
                            >
                        </li>

                        <li>
                            <a href="ui.html"
                                ><i class="fa fa-table"></i>UI Elements
                                <span class="badge">Included</span></a
                            >
                        </li>
                        <li>
                            <a href="blank.html"
                                ><i class="fa fa-edit"></i>Blank Page
                                <span class="badge">Included</span></a
                            >
                        </li>

                        <li>
                            <a href="#"
                                ><i class="fa fa-qrcode"></i>My Link One</a
                            >
                        </li>
                        <li>
                            <a href="#"
                                ><i class="fa fa-bar-chart-o"></i>My Link Two</a
                            >
                        </li>

                        <li>
                            <a href="#"
                                ><i class="fa fa-edit"></i>My Link Three
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                ><i class="fa fa-table"></i>My Link Four</a
                            >
                        </li>
                        <li>
                            <a href="#"
                                ><i class="fa fa-edit"></i>My Link Five
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- /. NAV SIDE  -->
            <div id="page-wrapper">
                    <div id="page-inner">
                        <button id="dangnhap">Đăng nhập facebook</button>
                        <button id="dongff">đóng firefox</button>
                        <button id="btn-like">Like Post</button>
                        <button id="btn-feed">Lướt new feed</button>
                        <button id="btn-like-nhieu">Like nhiều nick</button>
                        <button id="btn-get-group">Get group</button>
                        <br />
                        <input
                            id="id_post"
                            type="text"
                            placeholder="id post"
                            size="100"
                        /><br />
                        <input
                            id="chat-message-input"
                            type="text"
                            size="100"
                            placeholder="chat message"
                        /><br />
                        <h1>List User Facebook</h1>
                        <ul  id="fb_id">
                            
                            <li >
                                <input type="checkbox" > 
                                <label for="tran tuan">tran tuan</label>
                                <span>id: 435454646456</span>
                                <span class="btn_post">Cau hinh post group</span>
                            </li>
                            <input id="cookie" type="hidden" value={{item.cookie}}></input>
                            
                        </ul>
                        <br/>
                        <!-- <input
                            id="fb_id"
                            type="text"
                            placeholder="fb id"
                            size="100"
                        /><br /> -->
                        <!-- <input
                            id="chat-message-submit"
                            type="button"
                            value="Send"
                        /> -->

                        
                        <!-- <textarea id="chat-log" cols="100" rows="20"></textarea
                        ><br /> -->
                    </div>
                    <!-- /. MODAL -->
                    <div class="modal" >
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <div class="post-content">
                                <h3>Post Content</h3>
                                <Textarea id="story" name="story"
                                rows="5" cols="50" placeholder="content"></Textarea>
                                <h3 class="title-iamge">insert image</h3>
                                <input type="file" multiple />
                            </div>

                            <ul>
                                <h3>Select group</h3>
                                <li>
                                    <input type="checkbox" value="" id="34">
                                    <label for="34">Chợ sale tổng hợp Đắk Lắk</label>
                                </li><li>
                                    <input type="checkbox" value="">
                                    <label for="">Chợ sale tổng hợp Đắk Lắk</label>
                                </li><li>
                                    <input type="checkbox" value="">
                                    <label for="">Chợ sale tổng hợp Đắk Lắk</label>
                                </li><li>
                                    <input type="checkbox" value="">
                                    <label for="">Chợ sale tổng hợp Đắk Lắk</label>
                                </li><li>
                                    <input type="checkbox" value="">
                                    <label for="">Chợ sale tổng hợp Đắk Lắk</label>
                                </li>
                            </ul>
                            <div class="modal-btn">X</div>
                        </div>
                       
                    </div>
                
            </div>
            <!-- /. PAGE WRAPPER  -->
        </div>
        <div class="footer">
            <div class="row">
                <div class="col-lg-12">
                    &copy; 2014 yourdomain.com | Design by:
                    <a
                        href="http://binarytheme.com"
                        style="color: #fff"
                        target="_blank"
                        >www.binarytheme.com</a
                    >
                </div>
            </div>
        </div>

    </body>
    <script>
        const btnEl = document.querySelector('.modal-btn')
        const modalEl = document.querySelector('.modal')
        const btnPostEl = document.querySelector('.btn_post')
        btnEl.addEventListener('click', function(e) {
            modalEl.classList.remove('active')
        })
        btnPostEl.addEventListener('click', function() {
            modalEl.classList.add('active')
        })
    </script>
</html>
