{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'chat/assets/css/getcookie.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Get Cookie</h1>
        <form action="">
            <div class="form-control">
                <label for="user">user name</label>
                <input type="text" class="userName" name="user" id="user">
            </div>
            <div class="form-control">
                <label for="pass">password</label>
                <input type="password" class="password" name="pass" id="pass">
            </div>
            <button id="getcookie">Get Cookie</button>
        </form>
    </div>
    {{ device|json_script:"device" }}
</body>
<script src="{% static '/chat/assets/js/socket.js' %}"></script>
</html>